* {
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	font-family: 'Georgia',Times,serif;
	font-size: 14pt;
	color: black;
	line-height: 150%;
	display: block;
	background-color: white;
	width: 80%;
	margin: 1cm auto;
}

a {
	color: #0000ff;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #00cc00;
}

p {
	text-align: justify;
}

.navwrap {
	width: 100%;
	background-color: white;
	display: block;
	vertical-align: middle;
}

.hwrap {
	width: 74%;
	display: inline-block;
	background-color: white;
	height: 4cm;
}

.imwrap {
	width: 24%;
	display: inline-block;
	background-color: white;
	height: 4cm;
	text-align: center;
}

.imwrap a {
	width: 100%;
	display: inline-block;
}

.imwrap a img {
	display: inline-block;
	width: 100%;
}

h1 {
	text-align: center;
	padding-bottom: 0.25cm;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 2px;
	line-height: 130%;
}

h2 {
	color: #404040;
	text-align: center;
	padding-bottom: 0.25cm;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
}

ul.main {
	display: block;
	width: 80%;
	margin: 1cm auto;
	background-color: #9999ff;
	border-radius: 0.5cm;
}

ul.main a{
	display: inline-block;
	width: 30%;
	border-radius: 0.25cm;
	margin: 0.25cm auto;
	min-height: 1.5cm;
	min-width: 4cm;
	background-color: #009999;
	color: #000066;
	text-align: center;
	vertical-align: middle;
	padding: 0.5cm 0;
}

ul.main a:hover {
	background-color: #003300;
	color: #00cc00;
}

div {
	background-color: #e6e6e6;
}

.left {
	width: 50%;
	float: left;
	text-align: center;
	border-radius: 1cm 0 0 1cm;
}

.right {
	text-align: center;
	width: 50%;
	float: right;
	border-radius: 0 1cm 1cm 0;
}

div ul {
	display: inline-block;
	width: 80%;
	margin: 0.5cm auto;
	margin-top: 0;
	padding: 0.5cm auto;
	background-color: #9999ff;
	border-radius: 0.5cm;
}

div ul a {
	display: block;
	vertical-align: middle;
	padding: 0.5cm 0;
	min-height: 1.5cm;
	width: 60%;
	margin: 0.25cm auto;
	padding: 0.25cm auto;
	color: #000066;
	border-radius: 0.25cm;
	background-color: #009999;
}

div ul a:hover {
	background-color: #003300;
	color: #00cc00;
}