* {
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	font-family: 'Georgia',Times,serif;
	font-size: 14pt;
	color: black;
	line-height: 150%;
	display: block;
	background-color: white;
	width: 80%;
	margin: 1cm auto;
}

a {
	color: #002933;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #00cc00;
}

img {
	float: left;
	width: 5cm;
	height: 3cm;
	border-radius: 0 0 0.5cm 0;
}

p {
	text-align: justify;
	padding-left: 0.25cm;
	padding-right: 0.25cm;
}

p.ot {
	padding-top: 0.25cm;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 1px;
	text-align: center;
	margin-bottom: 0;
}

h1 {
	text-align: center;
	padding-bottom: 0.25cm;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 2px;
	line-height: 130%;
}

h2 {
	color: #404040;
	line-height: 130%;
	text-align: center;
	padding-bottom: 0.25cm;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
}

h3 {
	line-height: 130%;
	margin-bottom: 0.25cm;
}

.main {
	display: block;
	width: 80%;
	margin: 1cm auto;
	background-color: #ccccff;
	border-radius: 0.5cm;
	font-size: 0;
}

.main a{
	display: inline-block;
	width: 42.5%;
	border-radius: 0.25cm;
	background-color: #002933;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 0.25cm;
	margin-bottom: 0.25cm;
	font-size: 16px;
}

.main a:nth-child(odd) {
	margin-left: 5%;
	margin-right: 2.5%;
}

.main a:nth-child(even) {
	margin-left: 2.5%;
	margin-right: 5%;
}

.main a:nth-child(1) {
	margin-top: 0.25cm;
}

.main a:nth-child(2) {
	margin-top: 0.25cm;
}

.main a:hover {
	background-color: #006600;
	color: #ccffff;
}

.pagecontainer {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 3cm;
	font-size: 0;
}

.pagecontainer .left {
	display: inline-block;
	width: 50%;
	background-color: #ccccff;
	text-align: center;
	border-radius: 1cm 0 0 1cm;
	font-size: 16px;
}

.pagecontainer .right {
	text-align: center;
	display: inline-block;
	width: 50%;
	background-color: #ccccff;
	border-radius: 0 1cm 1cm 0;
	font-size: 16px;
}

.pagecontainer a {
	display: inline-block;
	vertical-align: middle;
	padding: 0.25cm;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 0.25cm;
	color: white;
	border-radius: 0.25cm;
	background-color: #002933;
	font-size: 16px;
}

.pagecontainer a:hover {
	background-color: #006600;
	color: #ccffff;
}

@media screen and (max-width: 15cm) {
	.main a {
		width: 90%;
	}

	.main a:nth-child(odd) {
		margin-left: 5%;
		margin-right: 5%;
	}

	.main a:nth-child(even) {
		margin-left: 5%;
		margin-right: 5%;
	}

	.main a:nth-child(1) {
		margin-top: 0.25cm;
	}

	.main a:nth-child(2) {
		margin-top: 0;
	}
}